@font-face {
    font-family: 'en_extrabold';
    src: url('../fonts/postnobillscolombo/postnobillscolombo-extrabold.ttf');
}

@font-face {
    font-family: 'en_medium';
    src: url('../fonts/postnobillscolombo/postnobillscolombo-medium.ttf');
}

@font-face {
    font-family: 'jp_medium';
    src: url('../fonts/Noto_Sans_JP/NotoSansJP-Medium.otf');
}

@font-face {
    font-family: 'jp_light';
    src: url('../fonts/Noto_Sans_JP/NotoSansJP-Light.otf');
}

$c_black: #0E0B0B;
$c_cyan: #94E7DC;
$c_grey: #615D5B;
$c_white: white;
$c_red: #E79494;
body {
    font-family: 'en_extrabold';
    margin: 0;
    background-color: $c_black;
    header {
        widows: 100%;
        width: 100vw;
        position: fixed;
        z-index: 200;
        top: 0;
        left: 0;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo_img {
            height: 40px;
        }
        ul {
            cursor: pointer;
            display: flex;
            justify-content: end;
            margin: auto 80px;
            li {
                list-style: none;
                margin: auto 20px;
                p {
                    transition: all .5s;
                    &:hover {
                        text-shadow: 4px 4px 3px rgba(249, 184, 109, 0.7), -4px -4px 3px rgba(224, 148, 231, 0.7);
                    }
                    color: $c_white;
                    font-family: 'en_medium';
                    letter-spacing: .2em;
                }
            }
        }
    }
    .top_section {
        width: 100vw;
        height: 100vh;
        text-align: center;
        position: relative;
        .main_img {
            margin: 50vh auto;
            width: 600px;
            max-width: 90vw;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }
        .left_bar {
            position: absolute;
            left: 0;
            top: 50vh;
            height: 60vh;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }
        .scroll_div {
            width: 14em;
            height: 3.5em;
            text-align: center;
            font-weight: 600;
            font-size: .8em;
            line-height: 3.5em;
            letter-spacing: 0.4em;
            border: 0.01em solid #FFFFFF;
            box-sizing: border-box;
            transform: rotate(90deg);
            position: absolute;
            right: 0;
            top: 80vh;
            p {
                margin: 0;
                font-size: 14px;
                line-height: 3.1em;
                color: $c_white;
            }
        }
    }
    .about_us_section {
        width: 800px;
        margin: 140px auto 200px;
        max-width: 90vw;
        .title_div {
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ._outer {
                display: flex;
                justify-content: center;
                align-items: center;
                .colored_block {
                    background-color: $c_cyan;
                    width: 30px;
                    height: 90px;
                    margin-right: 30px;
                }
            }
        }
        .main_div {
            margin-top: 60px;
            color: $c_white;
            width: calc(100% - 60px);
            padding: 40px 30px;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid #FFFFFF;
            backdrop-filter: blur(34px);
            border-radius: 10px;
            font-size: 16px;
            .jp {
                font-family: 'jp_light';
                letter-spacing: 0.2em;
                line-height: 2;
            }
            .en {
                margin: 40px auto 10px;
                font-family: 'en_medium';
                letter-spacing: 0.2em;
                line-height: 1.5;
            }
        }
    }
    .gadget_section {
        width: 800px;
        margin: 140px auto 100px;
        max-width: 90vw;
        color: $c_white;
        .main {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .left_img {
                width: 400px;
                height: 500px;
                margin: 0 30px;
                position: relative;
                .main_img {
                    position: absolute;
                    top: 250px;
                    left: 200px;
                    transform: translateY(-50%) translateX(-50%);
                    -webkit-transform: translateY(-50%) translateX(-50%);
                    width: 200px;
                }
                .sub_img_left {
                    position: absolute;
                    top: 250px;
                    left: 0;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    width: 120px;
                    z-index: -4;
                    transform: rotateY(-35deg) translateY(-50%);
                }
                .sub_img_right {
                    position: absolute;
                    top: 250px;
                    right: 0;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    width: 120px;
                    z-index: -4;
                    transform: rotateY(35deg) translateY(-50%);
                }
            }
            .right_text {
                margin: 0 30px;
                .img_title {
                    font-size: 30px;
                    letter-spacing: 0.2em;
                }
                .img_dics {
                    width: 280px;
                    font-family: 'jp_light';
                    letter-spacing: 0.2em;
                }
            }
        }
    }
    .activities_section {
        .title_text {
            text-align: right;
            margin: 0;
            margin-right: 60px;
        }
        width: 800px;
        margin: 140px auto 100px;
        max-width: 90vw;
        color: $c_white;
        .main {
            border: 1px solid #FFFFFF;
            padding: 20px 60px 60px;
            .number_section {
                text-align: right;
                .title_number {
                    margin: 0;
                }
            }
            .flex_div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    font-family: 'jp_light';
                    line-height: 2.4;
                    font-size: 25px;
                }
                .acticities_img {
                    width: 40%;
                }
            }
        }
    }
    .member_section {
        width: 800px;
        margin: 140px auto 420px;
        max-width: 90vw;
        color: $c_white;
        .title_div {
            display: flex;
            justify-content: start;
            align-items: center;
            .title_text {
                color: $c_red;
            }
        }
        .main {
            position: relative;
            .svg_img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
            .inpute_pw {
                position: absolute;
                top: 175px;
                left: 35%;
                font-size: 30px;
                font-family: 'en_extrabold';
                letter-spacing: .2em;
                width: 37%;
                color: $c_white;
                background-color: transparent;
                border: none;
                z-index: 10;
            }
        }
    }
    .title_text {
        font-size: 60px;
        color: $c_cyan;
        letter-spacing: 0.2em;
        margin: 0 20px;
    }
    .title_number {
        font-size: 90px;
        color: $c_grey;
        letter-spacing: 0.1em;
        margin: 0 20px;
    }
    .copy_right {
        text-align: center;
        color: $c_white;
        font-size: 14px;
        font-family: 'en_medium';
        letter-spacing: .2em;
    }
}

textarea:focus,
input:focus {
    outline: none;
}